
.sub{
    background-color: rgb(121, 36, 240);

}

.img{
    height: 120px;
    
}

.link{
    text-decoration: none;
    width: 70px;
}

.link:hover{
    border-bottom: 3px solid rgb(121, 36, 240);
    width: 70px;
}